<p id="notice"><%= notice %></p>

<h1>リスト</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>性別</th>
      <th>Eメール</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.sex %></td>
        <td><%= person.email %></td>
        <td><%= link_to '詳細', person %></td>
        <td><%= link_to '編集', edit_person_path(person) %></td>
        <td><%= link_to '削除', person, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '登録', new_person_path %>
